<li class="flex items-center gap-2 overflow-hidden">
  <img class="h-auto w-[53px] min-w-[53px] text-primary" src="/icons/codewars.svg" alt="Instagram logo" class="h-auto w-[53px] min-w-[53px] text-primary" />
  <div class="flex flex-col justify-center">
      <small
          class="text-light-gray-primary dark:text-dark-gray-primary font-medium"
          >My Codewars account:</small
      >
      <a
            class="font-bold text-light-texto-primary dark:text-dark-texto-primary text-[1.1rem] hover:cursor-pointer hover:underline"
            href="https://www.codewars.com/users/jomkv"
            target="_blank"
            rel="noreferrer"
        >
            /jomkv
        </a>
  </div>
</li>
